org.eclipse.smila.processing.bpel.test/configuration/org.eclipse.smila.processing.bpel/pipelines/processor.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--
  * Copyright (c) 2008, 2011 Attensity Europe GmbH and brox IT Solutions GmbH.
  * All rights reserved. This program and the accompanying materials
  * are made available under the terms of the Eclipse Public License v1.0
  * which accompanies this distribution, and is available at
  * http://www.eclipse.org/legal/epl-v10.html
  *
  * Contributors:
  * Juergen Schumacher (empolis GmbH) - initial design and extensions
-->
<definitions name="Processor" targetNamespace="http://www.eclipse.org/smila/processor"
  xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:proc="http://www.eclipse.org/smila/processor"
  xmlns:rec="http://www.eclipse.org/smila/record" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <types>
    <xsd:schema targetNamespace="http://www.eclipse.org/smila/processor">
      <xsd:import namespace="http://www.eclipse.org/smila/record" schemaLocation="record.xsd" />
      <xsd:element name="ReqId" type="xsd:string" />
      <xsd:complexType name="ProcessorException">
        <xsd:sequence>
          <xsd:element name="message" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <message name="ProcessorMessage">
    <part name="id" element="proc:ReqId" /> <!-- internal field to coordinate messages with blackboards -->
    <part name="records" element="rec:RecordList" />
  </message>

  <portType name="ProcessorPortType">
    <operation name="process">
      <input message="proc:ProcessorMessage" name="in" />
      <output message="proc:ProcessorMessage" name="out" />
      <fault message="proc:ProcessorException" name="ex" />
    </operation>
  </portType>

  <plnk:partnerLinkType name="ProcessorPartnerLinkType">
    <plnk:role name="service" portType="proc:ProcessorPortType" />
  </plnk:partnerLinkType>

</definitions>

